# Dependencies and Firebase
node_modules/
.firebase/
.DS_Store
Thumbs.db
*.log

# Ignore the folder containing images and videos
public/Assets/

# Global media ignores
*.[jJ][pP][gG]
*.[jJ][pP][eE][gG]
*.[pP][nN][gG]
*.[mM][pP]4
*.[wW][eE][bB][mM]
*.[mM][oO][vV]
*.[aA][vV][iI]
*.[gG][iI][fF]
*.[hH][eE][iI][cC]
*.[mM][kK][vV]
*.mp4
*.mov
*.webm
*.avi
*.mkv
public/Assets/VIDEO/
public/Assets/VIDEOS/